<div class="main-container">
    <nz-layout>
        <nz-header>Header</nz-header>
        <nz-content>
            <div class="form-box">
                <div class="icon-box">
                    <span style="display:inline-block;font-size: 60px;color: #fff;" nz-icon nzType="aliwangwang" nzTheme="outline"></span>
                </div>
                <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please input your username!">
                            <nz-input-group nzPrefixIcon="user">
                                <input type="text" nz-input formControlName="userName" placeholder="Username"  />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please input your Password!">
                            <nz-input-group nzPrefixIcon="lock">
                                <input type="password" nz-input formControlName="password" placeholder="Password" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <button nz-button (click)="doLogin()" class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
                    Or
                    <a style="color: rgb(220, 216, 216);">register now!</a>
                </form>
            </div>
        </nz-content>
    </nz-layout>
</div>